@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
}

body
{
    max-width: 1920px;
    margin: 0 auto;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: #D9DBE9 solid 1px;

    height: 122px;
}

header h3
{
    color: #5F2EEA;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;

    margin-left: 135px;
}

header svg
{
    margin-right: 65px;
}

#hero
{
    height: 625px;
    padding-left: 135px;

    background-image: url("img/Hero_Background.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

#hero h1
{
    max-width: 670px;

    color: #4E4B66;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;

    letter-spacing: 1px;

    padding-top: 192px;
}

#hero button
{
    width: 243px;
    height: 64px;

    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;

    border-radius: 50px;
}

.hero__buttons-container
{
    display: flex;
    gap: 25px;

    margin-top: 25px;
}

.hero__button--violet
{
    background: #5F2EEA;
    border: none;

    color: #F7F7FC;
}

.hero__button--transparent
{
    background: rgba(0, 0, 0, 0);

    color: #5F2EEA;
    border: #5F2EEA solid 2px;
}

#statistics
{
    display: grid;
    grid-template-columns: 33.6% 32.8% 33.6%;
    grid-template-rows: 200px;

    height: 200px;
}

.statistics__metric--first
{
    border-right: none;
    padding-left: 75px;
}

.statistics__metric--second
{
    border-right: none;
    padding-left: 75px;
}

.statistics__metric--third
{
    padding-left: 75px;
}

.statistics__metric
{
    border: #D9DBE9 solid 1px;
    padding-top: 47px;
}

.statistics__metric div
{
    display: flex;
}

.statistics__metric h3
{
    color: #2A00A2;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 1px;

    margin-left: 20px;
}

.statistics__metric p
{
    width: 245px;
    height: 90px;

    color: #6E7191;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;

    margin-top: 12px;
    margin-left: 58px;
}

.section-name
{
    color: #BCA4FF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2
{
    color: #4E4B66;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1px;
}

#tools
{
    height: 999px;
}

#tools .section-name
{
    padding-top: 82px;
    padding-left: 135px;
}

.tools__header
{
    display: flex;
    justify-content: space-between;

    padding-left: 135px;
    padding-right: 135px;
}

.tools__header h2
{
    width: 515px;
    padding-top: 36px;
}

.tools__header p
{
    width: 440px;

    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;

    padding-top: 38px;
}

.tools__items-container
{
    display: flex;
    justify-content: center;
    padding-top: 94px;

    gap: 32px;

    padding-left: 135px;
    padding-right: 135px;
}

.tools__item
{
    width: 369px;
    height: 522px;

    border-radius: 20px;
    border: 1px solid #E4DAFF;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.tools__item img
{
    width: 304px;
    height: 180px;

    padding-top: 53px;
}

.tools__item h5
{
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 1px;

    padding-top: 28px;
    padding-left: 28px;
}

.tools__item p
{
    width: 295px;

    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;

    padding-top: 12px;
    padding-left: 5px;
}

.tools__item button
{
    width: 245px;
    height: 64px;

    color: #5F2EEA;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;

    background: rgba(0, 0, 0, 0);


    border: #D9DBE9 solid 2px;

    margin-top: 34px;
    border-radius: 50px;
}

#gallery .section-name
{
   margin-left: 135px;
}

.gallery__header
{
    display: flex;
    justify-content: space-between;

    padding-left: 135px;
    padding-right: 135px;
}

.gallery__header h2
{
    width: 515px;

    margin-top: 36px;
}

.gallery__header p
{
    width: 435px;

    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;

    margin-top: 52px;
}

.gallery__images-container
{
    display: flex;
    gap: 32px;

    margin-top: 120px;
    margin-left: 135px;
}

#checklist
{
    margin-top: 124px;

    background-image: url("img/Checklist_Image.png");
    background-repeat: no-repeat;
    background-position: center;

    background-position-y: 290px;
}

#checklist .section-name
{
    text-align: center;
}

#checklist > h2
{
    width: 620px;

    text-align: center;

    margin: 36px auto;
}

.checklist__row
{
    display: flex;
    justify-content: center;
}

.checklist__row1
{
    margin-top: 122px;
    gap: 474px;

    padding-left: 120px;
    padding-right: 120px;
}

.checklist__row2
{
    gap: 554px;

    margin-top: 40px;

    padding-left: 90px;
    padding-right: 90px;
}

.checklist__row3
{
    margin-top: 40px;
    gap: 474px;

    padding-left: 120px;
    padding-right: 120px;
}

.checklist__item
{
    display: flex;
    gap: 35px;

    width: 320px;
    height: 140px;
}

.checklist__item p
{
    color: #4E4B66;
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 1px;
}

.checklist__item button
{
    width: 54px;
    height: 54px;
    border-radius: 90px;

    border: #5F2EEA solid 2px;
    box-shadow: 0 0 0 8px #E4DAFF;
    background: white;
    margin-top: 10px;
}

.checklist__item button svg
{
    margin-top: 3px;
}

#reviews .section-name
{
    margin-top: 137px;
    margin-left: 135px;
}

.reviews__header
{
    display: flex;
    justify-content: space-between;

    margin-top: 37px;
    padding-left: 135px;
}

.reviews__header h2
{
   width: 577px;
}

.reviews__header button
{
    width: 78px;
    height: 78px;

    border-radius: 90px;

    background: #5F2EEA;

    border: none;
}

.reviews__header__buttons-container
{
   display: flex;
   gap: 25px;

   margin-top: 15px;
   margin-right: 145px;
}

.reviews__items-container
{
    display: flex;
    gap: 30px;
    justify-content: center;

    margin-top: 115px;
    padding-left: 135px;
    padding-right: 135px;
}

.reviews__item
{
    width: 369px;
    height: 357px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    border: 1px solid #E4DAFF;
}

.reviews__item__icon-container
{
    width: 122px;
    height: 122px;

    background: #CDCCFF;
    border-radius: 90px;

    margin-top: -58px;
}

.reviews__item__icon-container img
{
    margin-top: 10px;
    margin-left: 5px;
}

.reviews__item__header
{
    width: 271px;
    height: 74px;
    border-bottom: #E4DAFF solid 1px;

    margin-top: 15px;
}

.reviews__item__header h4
{
    color: #5F2EEA;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 1px;
}

.reviews__item__header h5
{
    color: #5F2EEA;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 1px;
}

.reviews__item p
{
    width: 300px;

    color: #4E4B66;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 1px;

    margin-top: 21px;
}

#contacts
{
    background-image: url("img/Contacts_Background.png");

    width: 1168px;
    height: 434px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    border-radius: 30px;

    margin: 95px auto;
}

#contacts h2
{
    width: 605px;

    color: white;
    margin-top: 140px;
}

#contacts button
{
    width: 243px;
    height: 64px;

    background: rgba(0, 0, 0, 0);

    color: #FCFCFC;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;

    border: #FCFCFC solid 2px;
    border-radius: 30px;

    margin-top: 33px;
}

footer
{
    width: 1167px;
    display: flex;

    margin: 0 auto;
}

footer h4
{
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1px;
}

footer ul
{
    list-style: none;
}

.footer__company-column
{
    width: 257px;
}

.footer__company-column h4
{
    color: #5F2EEA;
}

.footer__company-column li:nth-child(1)
{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;

    margin-top: 25px;
}

.footer__company-column li:nth-child(2)
{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0;

    margin-top: 25px;
}

.footer__services-column
{
    margin-left: 210px;
}

.footer__services-column li, .footer__continents-column li, .footer__contacts-column li
{
    color: #6E7191;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;

    margin-top: 21px;
}

.footer__continents-column
{
    margin-left: 152px;
}

.footer__contacts-column
{
    width: 160px;

    margin-left: 148px;
}

.footer__contacts-column li:nth-child(1)
{
    color: #5F2EEA;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
}

@media screen and (max-width: 482px)
{
    header
    {
        height: 115px;
    }

    header h3
    {
        margin-left: 45px;
    }

    #hero
    {
        height: 742px;

        background-position: -70px 53px;
        background-size: 552px 313px;

        padding-left: 0;
    }

    #hero h1
    {
        width: 350px;

        font-size: 48px;
        line-height: 50px;

        padding-top: 419px;
        padding-left: 51px;
    }

    .hero__buttons-container
    {
        flex-direction: column;
        align-items: center;
        gap: 25px;

        margin-top: 20px;
    }

    #hero button
    {
        width: 420px;
    }

    #statistics
    {
        height: 603px;

        display: grid;
        grid-template-columns: 421px;
        grid-template-rows: 201px 201px 201px;

        justify-content: center;
    }
}